*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin-top: 3rem;
}
.container{
   max-width: 1600px;
   padding: 50px 20px;
   margin: 0 auto; 
}
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}
.galleryImage{
    max-width: 100%;
    border-radius: 1rem;
    position: relative;
    transition: transform 300ms;
    cursor: pointer;
}
.galleryImage:hover{
    transform: translateY(-3px);
    box-shadow: 3px 3px 10px black;
}
#popup{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(141, 139, 139, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250ms transform;
    padding: 50px;
}
#selectedImage{
    max-height: 100%;
    border-radius: 1rem;
    max-width: 100%;
}